<p><strong> CSRank [v 8.0]: </strong></p>
1. Автоматическое получение и отображение обновлений для плагина<br>
2. Квар для дебага плагина.<br>
3. Добавлены команды в чате вместо пунктов меню<br>
	/csrank reset - обнулить все скины<br>
4. Возможность убрать информер<br>
5. Доп опыт за убийство в голову или с ножа<br>
6. Исправлены баги с лицензией<br>
7.Исправлены баги с главным флагом админа<br>
8. Автоматическое создание таблицы плагином в случае ее отсутствия.<br>
9. Исправлено показ количества скинов в меню<br>
10. Добавлены нативы<br>
11. Добавлена возможность изменять шансы на выпадения в конфиге<br>
12. Добавлено несколько бонусов для випов<br>
13. Добавлены звуки<br>
14. Добавлена возможность меня цены в магазине (квары)<br>
15. Теперь в меню магазин отображается информация о монетах, а в подменю нет.<br>
16. Меню продать и купить кейсы теперь совмещены<br>
17. Оптимизация плагина<br><br>
<p><strong> CSRank [v 10.0]: </strong></p>
Исправления --<br>
- Обновлена лицензия<br>
- Переделана система выдачи предмета(Увеличены шанса выпадения)<br>
- Исправлены баги<br>
- убран квар сохранения по нику<br>
<br>
Добавлено --<br>
- Разработка торговой площадки.(пока что передача предметов другим игрокам платно\бесплатно)<br>
- Возможность прекашить модели также для 1 и 2 класса предметов<br><br>

<p><strong> CSRank [v 15.0]: </strong></p>
Исправления --<br>
- Убрана проверка обновлений<br>
- Изменен баланс выпадений<br>
- Полностью переделана торговая площадка, и обновлена до версии v1.6<br>
- Теперь показывает имя настоящего владельца со скином<br>
<br>
<hr>
<br>

<p><strong> CSRank 2017.0 [обновление #4]:</strong></p>
- Добавлены собственные полноценные логи<br>
- Отображение статуса оружия[надето или нет]<br>
- Вебсайт<br>
- Система StatusID для аутентификации <br>
- Двойная проверка лицензии<br>
- Модуль "помощь в убийстве"(если нанести больше 50 урона то дается опыт)<br>
- Исправлены баги на торговой площадке (обновлена до v 1.7)<br>
- Исправлен баг, когда во время карты если игрок не получал предмет, плагин считал что он его получил<br>
- Добавлен квар на макс количество задействованных медалей<br>
<br>
<hr>
<br>

<p><strong> CSRank 2018.0 [обновление #5]:</strong></p>
<i>Основное:</i>
- Добавлены SmartCase <br>
<i>Дополнительно:</i>
- В меню ваших скинов теперь написано: 'Нажмите, чтобы использовать'<br>
- Теперь при продаже скина вас будет кидать назад в меню, а не закрывать меню<br>
- Новое название для 4 пункта меню: кейсы<br>
- из 4 пункта меню убрано меню ваших скинов<br>
- Убрано меню с показом надетых скинов<br>
- Отображение статуса оружия[надето или нет]<br>

<p><strong> CSRank 2018.1 [обновление #6]:</strong></p>
<i>Основное:</i>
 <br>
<i>Дополнительно:</i>
- Добавлена возможность выбирать цвета для умных кейсов<br>
- Исправлен баг при просмотре своих предложений на маркете<br>
- Небольшие изменения в лицензии (обновлена до 3.0)<br>

<p><strong> CSRank 2018.2 [обновление #7]:</strong></p>
<i>Основное:</i>
- Исправлены критические ошибки прошлых версий <br>
- Добавлены меню желаний <br>
 <br>
<i>Дополнительно:</i>
- Автоматическое удаление логов старше 7 дней<br>
- csr_reset_player <#userid or ip> серверная команда для обнуления игрока<br>
- Теперь до загрузки игрока из бд он не сможет ничего сделать<br>
- Удаление игроков из бд, которые не заходили на сервер N дней<br>

<p><strong> CSRank 2018.3 [обновление #8]:</strong></p>
<i>Основное:</i>
<br><br>
<i>Дополнительно:</i>
- Корректное удаление логов старше N дней(в прошлой версии не работало)<br>
- Добавлен квар на количество дней, через которые удалять логи<br>
- Исправлены незначительные ошибки<br>
- Квар на количество предложений на торговой площадке<br>
- Добавлена задержка перед принятием предложений 10 сек<br>

<p><strong>[ CSRank 2018.6 ]:</strong></p>
- Новая версия лицензии <br>
- Если значения подключения к БД не указаны, они беруться из sql.cfg<br>
- Разделение конфига на 2 секции, первая с осн параметрами а вторая - с дополнительными.<br>
- Добавлены новые заменители в информере (CSRank.cfg - csrank_informer_text)<br>
- Теперь CSRank сохраняет общее время игры игрока на сервере<br>
- Изменены параметры шанса выпадния предметов 4 и 3 класса<br>
- Команда /rank для игрока чтобы узнать свою позицию в рейтинге<br>
- Для каждого скина можно будет установить цену продажи. (Если не установить то будет использоваться стандартная)<br>
- Новые имена для конфигов и новое расположение для них<br>